/*layout*/
body{
	background: #eee;
}
div.bg-top{
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
}
/*框架 white-board 使用 主页 右边栏*/
.white-board{
	margin-bottom: 20px;
	padding: 15px;
	background: white;
	border-radius: 5px;
}
.white-board div{
	width: 100%;
	border-bottom: 1px solid #d6d8d9;
}
.white-board div p{
	width: 70px;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.white-board ul{
	width: 100%;
	padding: 0;
	list-style-type: none;
}
.white-board li{
	width: 100%;
	overflow: hidden;
}
.white-board li a{
	display: block;
	border-radius: 5px;
	border: 1px solid gray;
	font-size: 16px;
	color: black;
	margin-top:5px;
	padding: 5px 8px;
}
.white-board li a span{
	display: block;
	float: right;
}
.white-board li a:hover{
	text-decoration: none;
}
img.cover{
	width: 100%;
	border: 1px solid #ddd;
	padding: 3px
}
img.soft{
	height: 135px;
}
img.book{
	width: 125px;
	height: 170px;
}
img.article{
	height: 130px;
}
/*右边栏*/
.file li{
	width: 49%;
	display: inline-block;
}
.file li a{
	text-align: center;
}
/*主页*/
.notice li a{
	border: 1px solid #ede;
}
.carousel{
	padding-left: 0;
	height: 250px;
}
.welcome{
	background: #343a40;
	height: 250px;
	border-radius: 5px;
	padding: 15px;
}
.welcome p{
	color: orange;
	text-indent: 32px;
}
.welcome h5{
	color: white;
	text-align: center;
}
/*展示板  通知 其他类*/
.showboard{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
	min-height: calc(100vh - 148px);
}
.showboard > h5{
	width: 100%;
	text-align: center;
	padding: 5px 0;
	border-bottom: 1px dashed #ccc;
}
.showboard > p{
	width: 70%;
	margin: auto;
}