/*layout*/
body{
	background: #eee;
}
div.bg-top{
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
}
/*框架 white-board 使用 主页 右边栏*/
.white-board{
	margin-bottom: 30px;
	padding: 15px;
	background: white;
	border-radius: 5px;
}
.white-board div{
	width: 100%;
	border-bottom: 1px solid #d6d8d9;
}
.white-board div p{
	width: 70px;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.white-board ul{
	width: 100%;
	padding: 0;
	list-style-type: none;
}
.white-board li{
	width: 100%;
	overflow: hidden;
}
.white-board li a{
	display: block;
	background: #eee;
	border-radius: 5px;
	font-size: 16px;
	color: black;
	margin-top:5px;
	padding: 5px 8px;
}
.white-board li a span{
	display: block;
	float: right;
}
.white-board li a:hover{
	text-decoration: none;
}
img.cover{
	width: 125px; 
	height: 170px;
	border: 1px solid #ddd;
	padding: 3px
}
/*右边栏*/
div.file li{
	width: 45%;
	float: left;
}
/*主页*/
.notice li a{
	background: none;
	border: 1px solid #eee;
}